# Segredos
.env
*.env
node*_identity.json
node*_faucet.json
*_identity.json
*_faucet.json

# Bancos de dados
*.db
*.db-journal
*.sqlite
*.sqlite3

# Carteiras
wallets/
*.wallet

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/

# Logs
*.log

# IDE
.vscode/
.idea/